:root {
	--gray-light: #d3d3d3;
	--gray: #adadad;
	--gray-dark: #878787;
}

* {
	box-sizing: border-box;
}

body {
	color: #222;
	font-family: sans-serif;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: #555;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	break-after: avoid;
	break-before: auto;
	break-inside: avoid;
	font-family: sans-serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2.25em;
}

h4 {
	font-size: 2.1em;
}

h5 {
	font-size: 2em;
}

h6 {
	font-size: 1.8em;
}

nav > ul {
	list-style: none;
	padding: 0;
}

nav > ul > li {
	display: inline;
}

nav > ul > li a {
	padding: 10px 20px;
	display: block;
}

nav > ul > li a:hover {
	text-decoration: none;
}

header button {
	background: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 7px 12px;
}

.workTitle {
	font-weight: normal;
}

.flex {
	display: flex;
}

.flex-end {
	align-items: flex-end;
}

.flex-start {
	align-items: flex-start;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-24 {
	font-size: 24px;
}
.material-icons.md-36 {
	font-size: 36px;
}
.material-icons.md-48 {
	font-size: 48px;
}

.material-icons:hover {
	color: rgba(0, 0, 0, 0.54);
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
	color: rgba(0, 0, 0, 0.26);
}

.Paragraph {
	margin-bottom: 2em;
	font-size: 16px;
}

.pointer {
	cursor: pointer;
}

.space-between {
	justify-content: space-between;
}

.w100 {
	width: 100%;
}

#\@\@reading-env\/text {
	column-count: 2;
	column-gap: 20px;
	position: fixed;
	top: 60px;
	left: 30px;
	bottom: 30px;
	right: 30px;
	margin: 40px;
	overflow-x: hidden;
	scroll-behavior: smooth;
	cursor: default;
}

.sidePanelVisible #\@\@reading-env\/text {
	column-count: 1;
	right: 50vw;
}

.sidePanelVisible #\@\@reading-env\/text::after {
	column-count: 1;
	right: 52vw;
}

#\@\@reading-env\/text::before,
#\@\@reading-env\/text::after {
	cursor: pointer;
	font-size: 50px;
	opacity: 0;
	position: fixed;
	top: 50%;
	transition: opacity 1s;
	vertical-align: middle;
	z-index: 100;
}

#\@\@reading-env\/text::before {
	content: '‹';
	left: 0.5em;
}

#\@\@reading-env\/text::after {
	content: '›';
	right: 0.75em;
}

#\@\@reading-env\/text:hover::before,
#\@\@reading-env\/text:hover::after {
	opacity: 1;
	transition: opacity 1s;
}

#\@\@reading-env\/text p,
#\@\@reading-env\/text .Paragraph {
	font-size: 18px;
	line-height: 1.6em;
}

.textnode {
	display: block;
	font-size: 18px;
	line-height: 1.6em;
	margin-bottom: 1em;
	position: relative;
	margin-left: 40px;
}

.textnode:hover .location {
	opacity: 1;
}

.textnode .location {
	position: absolute;
	top: 0;
	left: -50px;
	width: 40px;
	opacity: 0;
	font-size: 14px;
	text-align: right;
	color: #666;
	font-weight: bold;
	transition: all ease-in-out 100ms;
}

.sidePanelVisible .sidePanelOuter {
	transform: translate(0, 0);
}

.sidePanelOuter {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	width: 49vw;
	z-index: 99;
	transform: translate(100%, 0);
}

.sidePanelHandle {
	position: absolute;
	top: 90px;
	bottom: 90px;
	left: -40px;
	width: 40px;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: pointer;
}

.sidePanelHandle:hover .sidePanelHandleBar {
	opacity: 0.5;
}

.sidePanelHandleBar {
	height: 50vh;
	max-height: 180px;
	min-height: 90px;
	background: #000;
	opacity: 0.2;
	border-radius: 2px;
	width: 6px;
}

.sidePanel {
	background: #fff;
	border-left: 1px solid #e0e0e0;
	width: 49vw;
	height: 100vh;
	z-index: 99;
}

.sidePanelHeader {
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 3em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: #fff;
	border-left: 1px solid #e0e0e0;
}

.sidePanelHeader select {
	font-size: 18px;
	width: auto;
	max-width: 420px;
}

.sidePanelHeader select:focus {
	outline: none;
}

.sidePanelContent {
	height: 100vh;
	padding: 90px 3em;
	overflow-y: scroll;
}

.comment {
	margin: 1em 0 3em;
	width: 100%;
	display: block;
}

.comment h2 {
	font-size: 24px;
	margin: 10px 0;
}
.comment .commentByline {
	font-size: 14px;
	color: #999;
}
.comment p {
	font-size: 16px;
	line-height: 1.5em;
	max-width: 720px;
}

@keyframes fadeInOut {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

.title {
	font-family: sans-serif;
	font-size: 1em;
	font-weight: normal;
	opacity: 0.7;
	text-align: center;
}
