<!doctype html>
<html>

<head>
	<meta charset="UTF-8" />

	<title>{{title}}</title>

	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<link rel="stylesheet" href="/css/Draft.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<main id="@@react-app">{{{body}}}</main>
	<script>window.__REACT_DATA__ = JSON.stringify({{{ props }}});</script>
	<script src="/js/main.js"></script>
</body>

</html>